body{
    line-height: 2;
}
.header-wraper{
    padding: 20px;
    position: relative;
}
.novak{
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}
.header-block{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.nav-ul{
    display: flex;
}
.logo img{
    width: 300px;
}
.navigation.navActive{
    display: flex;
    align-items: center;
  
}
h1{
    display: flex;
    align-items: center;
    
}
h2{
    color:rgb(18, 18, 139);
    text-align: center;
}
.burger{
    position: absolute;
    top: 15px;
    right: 25px;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    display: none;
    transition: all, 0.5s;
}
.line{
    width: 80%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .line1{
    top: 30%;
  }
  .line3{
    top: 70%
  }
.activeBurger .line1{
    top: 50%;
    transform: translate(-50%) rotate(45deg) ;
}
.activeBurger .line2{
   display: none;
}
.activeBurger .line3{
    top: 50%;
    transform: translate(-50%) rotate(-45deg) ;
}
 .nav-ul.activeNew{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(assets/images/teeth_fon.jpg);
    background-size: cover;
    background-position: 73.5% 25%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: collum;
    justify-content: center;
    align-items: center;
} 
.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.memu li:hover{
    border-radius: 5px;
    transition: 0,3s ease;
}
.menu li{
    padding: 5px 14px;
}
/* Dropdown menu */
   .services{
    position: relative;
   }
   .dropdown{
    background-color: blue;
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li{
    margin-top: 10px;
   }
   .dropdown li{
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: black;
   }
   .services:hover .dropdown{
    display: block;
   }
   /* input[type=checkbox] {
    display: none;
  }  */

/* Slider */
.slider{
    max-width: 100%;
    /* Положение элемента устанавливается относительно его исходной позиции: */
    position: relative;
    /* Центрируем по горизонтали: */
    margin: auto;
    height: 1100px;
}

/* Картинка масштабируется по отношению к родительскому элементу: */
.slider .item img {
    /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
    object-fit: cover;
    width: 100%;
    height: 1100px;
}

/* Кнопки назад и вперёд: */
.slider .previous, .slider .next {
    /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
    cursor: pointer;
    /* Положение элемента задаётся относительно границ браузера: */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Оформление самих кнопок: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /* Плавное появление фона при наведении курсора: */
    transition: 0.6s ease;
    /* Скругление границ: */
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* При наведении курсора на кнопки добавляем фон кнопок: */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Анимация слайдов: */
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}




  .opisanie{
    color: black;
  }
  /* Xirurgia */

  .xirurgia1{
    display: inline-block;
  }
    
  .xirurgia-uslugi{
    display: inline-block;
  }
  .estetica{
    box-sizing: border-box;
  }
  .whitening {
    width: 30%; 
    float: left; 
    margin: 0 0 0 3.5%; 
    background: #f0f0f0; 
    border-radius: 5px; 
    padding: 2%; 
   }
   .veniri{
    width: 19%; 
    float: left; 
    margin: 0 0 0 3.5%; 
    background: #f0f0f0; 
    border-radius: 5px; 
    padding: 2%; 
   }
   .cirkonii{
    width: 24%; 
    float: left; 
    margin: 0 0 0 3.5%; 
    background: #f0f0f0; 
    border-radius: 5px; 
    padding: 2%; 
   }

   .antistress{
    display: inline-block;
    box-sizing: border-box;
   }
   .p_antistress{
    display: inline-block;
    font-size: 25px;
   }
  
  /* implants */
  .implants{
    box-sizing: border-box ;
    /* margin: 40px; */
  }
  .foto_implants{
    text-align: center;
  }
.accordion {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}
.implants.content{
    display: inline-block;
}

.box {
    border-bottom: 1px solid #ccc;
}
.h2 {
    font-size: 30px;
    text-align: center;

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    background-color: #f5f5f5;
}

.icon {
    margin-left: 10px;
}

.content {
    padding: 10px;
    display: none;
}
.content .implants {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p {
    display: inline-block;
}
/* Sirona
.sirona{
display: flex;
width: 50%;
text-align: center;
} */

/* Contact */
.collum {
    box-sizing: border-box;
    float: left;
    width: 40%;
    margin-top: 6px;
    padding: 20px;
    }
    input {
    display: flex;
    width: 575px;
    border-radius: 5px;
    padding: 12px;
    background-color: #EEEEEE;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    }
    input[type=submit] {
    background-color: black;
    justify-content: center;
    color: white;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    width: 600px;
    height: 48px;
    }
    .maps{
        padding: -30px;
        
    }
    iframe {
    display: inline-block;
    }
    footer {
    display: inline-block;
    box-sizing: border-box;
    background-color:rgb(42, 36, 202);
    width: 100%;
    height: 125px;
    background-position: center center;
    }
    i class {
    color: white;
    }
    h4 {
    display: flex;
    color:white;
    justify-content: right;
    
    } 
    .icons {
    color:white;
    display: flex;
    align-items:center;
    margin: 30px;
    justify-content: space-between;
    } 
    .post{
        background-color: azure;
        margin-bottom: 20px;
    }
    .contact_clinic{
        display: block;
    }
   
    .maps{
        display: inline-block;
        width: 90;
    }
    .contact{
        display: inline-block;
        box-sizing: border-box;
        float: inline-end;
    }
    .contact li{
        font-size: 30px;
        list-style: none;
        margin: 10px;
    }
   
/* Cookie */
#cookie_note{
    display: none;
    position: fixed;
    bottom: 15px;
    left: 50%;
    max-width: 90%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

#cookie_note p{
    margin: 0;
    font-size: 0.7rem;
    text-align: left;
    color: black;
}

.cookie_accept{
    width:20%;
}
@media (min-width: 576px){
    #cookie_note.show{
        display: flex;
    }
}

@media (max-width: 575px){
    #cookie_note.show{
        display: block;
        text-align: left;
    }
}



@keyframes fade {
        from {
            opacity: 0.4
        }
        to {
            opacity: 1
        }
    }

@media (max-width:480px){
    .nav-ul {
        display: none;
    }
    /* .navigation{
        display: none;
    } */
    .burger{
        display: block;
    }
    .header-block{
        flex-direction: column;
    }
    .nav-ul{
        flex-direction: column;
        align-items: center;
    }
    .navigation.navActive{
        display: block;
    }
    .novak{
        display: block;
    }
}
    .hamburger {
        display: none;
        font-size: 24px;
        user-select: none;
  }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
  /* .slider{
    display: none;
  } */